/* src/index.css */
@import "tailwindcss";

/* Animasi dari Kanan ke Kiri (Baris Atas) */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
}
.animate-marquee:hover {
  animation-play-state: paused;
}

/* Animasi dari Kiri ke Kanan (Baris Bawah) */
@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-reverse {
  display: flex;
  animation: marquee-reverse 60s linear infinite; /* Sedikit lebih cepat agar lebih dinamis */
}
.animate-marquee-reverse:hover {
  animation-play-state: paused;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE dan Edge */
    scrollbar-width: none; /* Firefox */
  }
}
/* 1. Daftarkan nama animasi baru Anda ke dalam tema Tailwind */
@theme {
  --animate-slide-up-fade: slideUpFade 1.5s ease-out forwards;
}

/* 2. Buat pergerakan keyframes-nya menggunakan CSS standar */
@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* (Kode CSS Anda yang lain jika ada...) */
s